body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./busstand.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 400px;
    height: 450px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    backdrop-filter: blur(0.5px);
    top: 30px;
    border-color: #003f7f;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

h1 {
    color: #ffffff;
    background: linear-gradient(135deg, rgba(87, 208, 255, 0.7), rgba(0, 0, 67, 0.895));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    margin-bottom: 20px;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: inline-block;
    color: #ffffff;
    background: linear-gradient(135deg, rgba(94, 255, 62, 0.856), rgba(4, 36, 13, 0.895));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    margin-bottom: 20px;
    margin-right: 90px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 4px;
    text-align: center;
    width: 160px;
    height: 30px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 9px;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;
}

select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

button {
    width: 30%;
    padding: 12px;
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background: linear-gradient(135deg, #0056b3, #003f7f);
    transform: scale(1.05);
}
